* {
    box-sizing: border-box;
}



body {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

form {
    max-width: 35%;
}

.fieldset {
    border-radius: 8px;
    padding: 20px;
}

.title {
    margin-bottom: 15px;
}

.label {
    display: block;
}

.text {
    display: block;
    margin-bottom: 5px;
}

.input,
.textarea {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 7px;
}

.textarea {
    max-height: 120px;
    min-height: 30px;
    resize: vertical;
}

.label-checkbox input,
.label-checkbox span {
    display: inline-block;
    vertical-align: middle;
}

.label-checkbox {
    margin: 15px 0 0;
    font-size: 16px;
}

.button {
    display: block;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}