body{
    font-family: sans-serif;
}

table{
    border: 1px solid black;
    border-spacing: 0;
}

th , td , caption{
    border: 1px solid black;
}

caption{
    font-weight: 700;
    border-bottom: none;
}

.weekends-title , .weekends{
    color: red;
}



