@import "fonts.css";
@import "reset.css";
@import "style.css";

:root {
    --title-color: #de343d;
    --accent-text: #000;
    --bg-color: #fff;
    --transition: all .4s;
    --accent-bg: #dedede;

}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Monument Extended", sans-serif;
    color: var(--accent-text-2);
    line-height: 1.4;
    background: var(--bg-color);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}


.container {
    max-width: 1817px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 38px;
    line-height: 40.2px;
    color: var(--title-color);
}

.products-card {
    display: block;
    box-shadow: 0 4px 10px #0000000d;
    transition: all 0.3s ease;

}

.products-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px #00000026
}


.products-card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: 375px;
    margin-bottom: 16px;
    background: #f9f9f9;
}




.products-card__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.products-card__brand {
    color: #9c9c9c;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1.57px;
}

.products-card__title {
    font-size: 25px;
    line-height: 30px;
    color: #040404;
}

.products-card__price {
    font-size: 20px;
    line-height: 25px;
}

.products-card__size {
    color: var(--title-color);
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 1.57px;
}


/* -------------------------------- */


.header__inner {
    display: flex;
    font-size: 12px;
    letter-spacing: 0.86px;
    line-height: 27px;
    align-items: center;
    min-height: 86px;
    font-size: 13px;
}

.header__burger {
    display: none;
    position: relative;
    width: 26px;
    height: 18px;
    background: none;
    /* border: none;
    cursor: pointer; */
}

.header__burger span,
.header__burger span::before,
.header__burger span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 2px;
    transition: var(--transition);
}

.header__burger span {
    top: 50%;
    transform: translateY(-50%);
}

.header__burger span::before {
    top: -8px;
}

.header__burger span::after {
    top: 8px;
}

/* Активное состояние */
.header__burger.active span {
    background: transparent;
}

.header__burger.active span::before {
    transform: rotate(45deg) translate(5px, 5px);
}

.header__burger.active span::after {
    transform: rotate(-45deg) translate(5px, -5px);
}

.header__search {
    display: block;
}



.nav {
    margin: 0 auto;
}

.nav__list {
    display: flex;
    gap: 41px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    transition: var(--transition);
}

.nav__link:hover {
    color: var(--title-color);
}

.header__search {
    display: flex;
    gap: 13px;
}

.header__button path {
    transition: var(--transition);

}

.header__button:hover path {
    stroke: var(--title-color);
}





/* ------------------------------------------- */

.promo-air {
    position: relative;
    width: 100%;
    min-height: 986px;
    background: linear-gradient(90deg, #ffb800, #ff4b2b);
    overflow: hidden;
}


.promo-air__content {
    position: absolute;
    top: 51%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}



.promo-air__content::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    width: clamp(280px, 35vw, 540px);
    height: clamp(260px, 33vw, 520px);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url('../img/setka.svg');

    opacity: 0.5;
    z-index: 1;
    animation: rotateGrid 60s linear infinite;
}


@keyframes rotateGrid {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.promo-air__title {
    display: block;
    white-space: nowrap;
    font-family: 'Monument Extended', sans-serif;
    font-size: clamp(100px, 19vw, 380px);
    letter-spacing: -6.5px;
    color: #ffffff24;
    position: absolute;


}


.promo-air-swiper {
    width: 100%;
    max-width: 733px;
    height: auto;
    aspect-ratio: 4/3;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    overflow: visible;
    transform: translate(14%, -19%);

}

.promo-air-swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-air__slide {
    max-width: 550px;
    transition: transform 0.6s ease;
}

.promo-air__slide img {
    width: 100%;
}


.promo-air-swiper .swiper-slide-active {
    transform: scale(1.05);
}

.promo-air__btn {
    position: absolute;
    bottom: 80px;
    right: 100px;
    padding: 10px 30px;
    background: transparent;
    border: 2px solid var(--bg-color);
    color: var(--bg-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
}

.promo-air__btn:hover {
    background: var(--bg-color);
    color: #ff4b2b;
}


.promo-air__pagination {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 5;
}

.promo-air__pagination .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff5e;
    background: transparent;
    opacity: 0.5;
    transition: var(--transition);
}

.promo-air__pagination .swiper-pagination-bullet-active {
    background: var(--bg-color);
    opacity: 1;
}


.promo-air .swiper-vertical>.swiper-pagination-bullets,
.promo-air .swiper-pagination-vertical.swiper-pagination-bullets {
    right: auto;
    left: 40px;
}


/* ------------------------------------------- */


.sellers {
    padding: 117px 0px 84px;
    position: relative;
    background: var(--bg-color);
}



.sellers__title {
    text-align: center;
    padding-bottom: 39px;
}




.swiper-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 76px;
}





.sellers__next,
.sellers__prev {
    position: absolute;
    transition: var(--transition);
    z-index: 10;
}

.sellers__next svg:hover path,
.sellers__prev svg:hover path {
    fill: var(--hover-color) !important;
}

.sellers__next {
    top: 35%;
    right: -1.4%;
}

.sellers__prev {
    top: 38%;
    left: -1.4%;
}

.sellers__button {
    display: block;
    margin: 0 auto;
    padding: 6px 25px;
    border: 1.56px solid var(--accent-bg);
    color: #808080;
    font-size: 20px;
    line-height: 52.2px;
    letter-spacing: 1.63px;
    transition: var(--transition);
}

.sellers__button:hover {
    background: var(--hover-color);
    color: var(--accent-text);
}



/* ------------------------------------- */

.brand-promo {
    padding: 116px 0px 0px;
}

.brand-promo__title {
    color: var(--accent-text);
    font-size: 105px;
    line-height: 126px;
    text-transform: capitalize;
    margin-bottom: 99px;
    text-align: center;

}

.brand-promo__title img {
    margin-top: 1%;
    max-width: 100%;
}


.brand-promo__img1 {
    position: relative;

}

.brand-promo__img1::after {
    content: '';
    position: absolute;
    bottom: -47%;
    right: -2%;
    background: url('../img/parthers/1.png') 50% 50% / cover no-repeat;
    transform: rotate(-18.81deg);
    width: 318px;
    height: 288px;

}

.brand-promo__img2 {
    position: relative;

}

.brand-promo__img2::after {
    content: '';
    position: absolute;
    bottom: -1%;
    left: 17%;
    background: url('../img/top-sellers/1.png') 50% 50% / cover no-repeat;
    transform: rotate(13.71deg);
    width: 327px;
    height: 268px;

}

.brand-promo__img3 {
    position: relative;

}

.brand-promo__img3::after {
    content: '';
    position: absolute;
    bottom: -18%;
    right: -43%;
    background: url('../img/parthers/3.png') 50% 50% / cover no-repeat;
    width: 326px;
    height: 193px;
}


.brand-promo__logos {
    margin-bottom: 167px;

}

.brand-promo__list {
    display: flex;
    gap: 55px;
    align-items: center;
    justify-content: center;
}


.brand-promo__marquee-inner {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

/* Один большой ряд текста */
.brand-promo__marquee-text {
    flex-shrink: 0;
    font-size: clamp(1.125rem, 0.8023rem + 1.2064vw, 2.25rem);
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    animation: marquee-scroll 10s infinite;
}

@keyframes marquee-scroll {
    0% {
        transform: translateZ(0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}





/* ------------------------------------------ */


.promo {
    background-image: url('../img/fon.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    opacity: .5;
}


.promo__content {
    position: absolute;
    top: 51%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.promo__title {
    white-space: nowrap;
    font-size: clamp(100px, 19vw, 380px);
    letter-spacing: -6.5px;
    color: #ffffff24;
}

.promo__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 507px;
    height: auto;
    z-index: 2;
}

.promo__logo img {
    width: 100%;
}


/* --------------------------------------------------- */


.products {
    padding: 87px 0 398px;
}

.products__header {
    display: flex;
    margin-bottom: 94px;
    justify-content: space-around;
}

.products__controls {
    display: flex;
    gap: 30px;
    align-items: center;
}

.dropdown {
    position: relative;
}



/* Кнопка */
.dropdown__button {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 5px;
    border: 1.26px solid var(--accent-bg);
    cursor: pointer;
    transition: var(--transition);
    line-height: 40px;
    font-size: 16px;
}

.dropdown__button:hover {
    background: #f5f5f5;
}


.dropdown__menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 4px 10px #00000014;
    list-style: none;
    margin: 0;
    padding: 6px 0;
    display: none;
    z-index: 10;
    animation: fadeIn 0.25s ease;
}


.dropdown__menu--active {
    display: block;
}


.dropdown__item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    color: #808080;
    transition: var(--transition);
}


.dropdown__item:hover {
    background: #f3f3f3;
    color: #000;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.products-button--sort {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 20px;
    border: 1.26px solid var(--accent-bg);
    line-height: 40px;
}


.products__view {
    display: flex;
    border: 1.26px solid #dedede;

}


.product__view-button--list {
    padding: 12px 12px 12px 20px;
    border-right: 1.26px solid var(--accent-bg);
}

.product__view-button--grid {
    padding: 12px 20px 12px 12px;
}

.products__list {
    display: grid;
    grid-template-columns: repeat(3, 401px);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.products-card--light {
    opacity: .5;
}






/* --------------------------------------------------
 */

.footer {
    min-height: 432px;
    width: 100%;
    background: #f9f9f9;
}


.footer__inner {
    display: flex;
    color: var(--title-color);
    font-size: 18px;
    line-height: 22px;
    gap: 80px;
    justify-content: end;
    padding-top: 108px;
}



.footer__col-title {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 47px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footer__item {
    transition: var(--transition);
    flex-wrap: nowrap;
}

.footer__link:hover {
    color: #808080;
}









/* --------------------------------------- */

@media (max-width: 1560px) {

    .brand-promo__img1::after,
    .brand-promo__img2::after,
    .brand-promo__img3::after {
        display: none;
    }

    .promo__logo {
        display: none;
    }

    .brand-promo__title {
        font-size: 80px;
    }

    .promo-air__image {
        max-width: 330px;
    }
}

@media (max-width: 1300px) {

    .brand-promo__title {
        font-size: 50px;
    }

    .products__list {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 980px) {

    .nav__list {
        gap: 20px;
    }


    .promo-air__image {
        max-width: 230px;

    }

    .brand-promo__title {
        font-size: 15px;
    }

    .brand-promo__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products__header {
        flex-direction: column;
        gap: 15px;
    }

    .products__controls {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 885px) {

    .header__burger {
        display: flex;
        position: fixed;
        /* фиксируем, чтобы была видна даже при открытом меню */
        top: 25px;
        right: 25px;
        z-index: 1001;
        /* поверх меню */
        cursor: pointer;
    }

    .nav__list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .nav__list.active {
        left: 0;
    }

    .header__search {
        display: none;
    }

}



@media (max-width: 760px) {

    .promo-air__content::before {
        display: none;
    }

    .brand-promo__marquee {
        display: none;
    }

    .promo {
        display: none;
    }

}


@media (max-width: 600px) {

    .promo-air__image {
        display: none;
    }

    .promo-air .swiper-pagination {
        display: none;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
    }

}